img{
    width:250px;
    height:600px;
}

.container {
    display: flex;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 225, 225);
}
.intro {
    padding:30px;
    font-weight: bold;
}

form {
}